/* A single asterisk is a universal selector: *; 

* {
	margin: 0;
	pdding: 0;
	color: #f00;
}
*/

/* Type Selectors */

/*

This helpful comment
spans multiple
lines.

*/

body {
	color: #878787;
	margin: 0;
}

header {
	background-color: #FFA949;
}

h1 {
	font-size: 90px;
	color: #fff;
}

h2 {
	font-size: 53px;
}

h3 {
	font-size: 20px;
	color: #48525c;
}